.weather-card
    background: #fff
    border-radius: 12px
    padding: 14px
    display: flex
    flex-direction: column
    gap: 8px

.weather-main
    display: flex
    justify-content: space-between
    align-items: center

.weather-temp
    font-size: 20px
    font-weight: 700
    font-family: 'Poppins', sans-serif

.weather-sub, .weather-detail
    font-size: 12px
    color: #555
    font-family: 'Poppins', sans-serif

.weather-footer
    display: flex
    justify-content: space-between
    font-size: 12px

.weather-tip
    background-color: #E5EFFF
    padding: 8px
    border-radius: 8px

.tip-text
    font-size: 12px
    color: #1F3A93
    font-family: 'Poppins', sans-serif
