.home
    display: flex
    flex-direction: column
    height: 100dvh
    background-color: #f9f9f9
    padding-top: 80px

.scroll-content
    flex: 1
    overflow-y: auto
    padding: 16px 16px 120px 120px
    display: flex
    flex-direction: column

.section-title
    padding-top: 20px
    font-size: 24px
    font-weight: 600
    color: #000000
    margin-top: 8px
    margin-bottom: 8px
    text-align: left
