.page-wrapper
    display: flex
    flex-direction: column
    min-height: 100vh

.scroll-container
    flex: 1
    overflow-y: auto
    padding-top: 80px
    padding-bottom: 90px

.section
    margin-bottom: 20px

.section-title
    font-size: 28px
    font-weight: 700
    margin-bottom: 12px
    margin-top: 44px
    margin-left: 16px
    font-family: 'Poppins', sans-serif

.section-subtitle
    font-size: 16px
    color: #555
    font-family: 'Poppins', sans-serif
    margin-bottom: 16px
    margin-left: 16px
    margin-top: -4px
    line-height: 1.4

.tab-container
    display: flex
    gap: 8px
    margin-bottom: 20px

.tab
    flex: 1
    text-align: center
    padding: 12px 2px
    border-radius: 999px
    border: 1px solid #ccc
    cursor: pointer
    background-color: #fff
    font-weight: 600
    font-size: 18px
    transition: all 0.3s ease
    font-family: Poppins, sans-serif
    color: #000

.active-tab
    background-color: #2e7d32
    color: #fff
    border: 1px solid #2e7d32
