.community-card
    background-color: #fff
    padding: 14px
    border-radius: 12px
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1)
    margin-bottom: 12px

.card-title
    font-size: 16px
    font-weight: 700
    margin-top: 8px
    font-family: 'Poppins', sans-serif

.date
    font-size: 12px
    color: #999
    font-family: 'Poppins', sans-serif
